.container{
    height: 100px;
    position: sticky;
    top: 0;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 99;
}

.logo{
    font-size: 30px;
    font-weight: 400;
}